* {
    box-sizing: border-box;
}

a {
    color:blue;
    text-decoration: none;
}
a:visited {
    color:orangered;
    text-decoration: none;
}
a:hover {color:white;}

body {
    background-image:url(img/pexels-frank-cone-3607542.jpg);
    font-family:Arial, Helvetica, sans-serif;
}

.calculator {
    /* position: absolute; */
    top: 10%;
    margin:auto;
    
   
    width: 410px;
    height: 600px;  
     
    padding-bottom: 20px;
}


.numeric {
    
    width:96px;
    height: 95px;
    display: inline-block;
    background: black;
    color:white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    margin-left: -5px;
    padding-top: 20px;
    cursor: pointer;
    
}

.zero {
    width: 190px;
}


.numeric:active{
    background:orangered
}

.numericZero{
    width: 250px !important;
}

.action {
    color: orangered;
}
.action:active {
    background-color: black;
}

.result {
    width: 95px;
    height: 95px;
    border-radius: 99px;
    background: orangered;
    color: white;
}

.total {
    /* position:inherit; */
    height: 0;
    /* background-color: blue; */
    text-align: right;
    margin:auto;
    color: white;
}

#soma:active {
    background: white;
}

#multiplicacao:active {
    background: white;
}

#C:active{
    background: white;
}

#backspace:active{
    background: white;
}

#porcentagem:active {
    background: white;
}
#divisao:active {
    background: white;
}
#subtracao:active{
    background: white;
}

.visor {
    color: white;
    font-size: 40px;
    text-align:right;
    height: 25.5vh;
    width: 23.5rem;
    
    /* padding-bottom: 10vh; */
    background-color: black;
    
    
}
.acc{
  position: relative; 
  height: 20vh; 
    
  background: black;
  /* height: 0px; */
  color:gray;
  width: 49.2vh;
  font-size: 30px;
  text-align: right;
  
  padding-top: 5px;
  /* height: 100px; */
  padding-bottom: 10vh;

}

.footer {
    color: orangered;
    text-align: left;
    position: absolute;
    top: 20px
}





